.animals{
    margin: $marginMain;
    margin-bottom: $marginBottomNavbar;

    a{
        text-decoration: none;
    }

    &__search{
        position: relative;
        width: 70vw;
        input{
            width: 100%;
            border: 1px solid $blueCloud;
            padding: 0.5rem 1rem;
            border-radius: 25px;
            font-size: 14px;
            color: $dark;
            margin-bottom: 1.5rem;
            margin-left: 1.5rem;

            &:focus-visible{
                outline: none;
                border: 1px solid $blueCloud;
            }
        }
    }

    &__details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid $dark;
        border-radius: 10px;
        background-color: $blueLight;
        margin: 1.5rem;
        color: $dark;
    }

    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &--content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            margin-bottom: 1.5rem;

            &--item{
                border: 2px solid $dark;
                border-radius: 10px;
                background-color: $blueLight;
                text-transform: capitalize;
                padding: 0.5rem;
                color: $dark;
            }

            &--button{
                padding: 0.5rem;

               button{
                   margin: 0.2em
               }    
            }
        }
       
       
    }
    &__btn-create{
        background-color: #fff;
        border: 1px solid #d5d9d9;
        border-radius: 8px;
        box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
        color: #0f1111;
        cursor: pointer;
        font-size: 13px;
        line-height: 29px;
        padding: 0 10px 0 11px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-left: 1.5rem;
        width: 100px;
    
            &:hover {
            background-color: #f7fafa;
        }
    
            &:focus {
        border-color: #008296;
        box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
        outline: 0;
        }
    }
    
    
}

