
.home{
    background-image: url("./../../assets/selva.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:100vh;
    top: 0;
    left: 0;
    z-index: -1;

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: $dark;
        
        
    }
}   