//Global padding Variable for left and right paddings of app
$paddingMain: 1.5rem;
$marginMain: 1.5rem;
$marginBottomNavbar: 5rem;

h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: $dark;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}
